body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #3c447d;
  }
  .inner {
    margin: 0 auto;
    width: 1200px;
  }
  header {
    border-bottom: 30px solid  #3c447d;
    background-color: #fff;

  }
  header > .inner > .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  header > .inner > .box > .logo {
    height: 100px;
    font-size: 60px;
    font-family: "BIZ UDPGothic", sans-serif;
    font-family: "Tilt Neon", cursive;
  }
  header > .inner > .box > .log-out {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header > .inner > .box > .log-out > div > .now-btn {
    width: 170px;
    height: 50px;
    background-color: white;
    font-size: 20px;
    border: 6px solid #3c447d;
    border-radius: 45px;
    font-weight: bold;
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  header > .inner > .box > .log-out > .logout-text {
    border-style: none;
    font-family: "Kosugi Maru", sans-serif;
    background-color: white;
    line-height: 22px;
    text-align: center;
  }

  /* -----header----- */

  form {
    width: 400px;
    height: 460px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    border: 3px solid transparent;

    
    background-image: linear-gradient(#fff, #fff),
        linear-gradient( #5174cb,#91dbf0);
        
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 10px auto;
}

.userRegisterForm {
    text-align: center;
    margin: 0 auto;
    padding: 55px 0;
    width: 100%;
    height: 61.5vh;
    background-color: rgb(219,233,245);
    
}

.form-inner {
    margin: 0 auto;
    width: 310px;
}


.logoImg {
    width: 150px;
    margin-top: 35px;
}

.userSection {
    margin: 30px auto;
    font-size: 20px;
}

input {
    height: 25px;
    width: 200px;
} 

footer{
    color: #fff;
    text-align: right;
    width:100% ;
    height: 10vh;
    background-color: #3c447d;
}