<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org"> <!-- Thymeleaf -->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Tilt+Neon&display=swap"
        rel="stylesheet" />
    <!--    <link rel="stylesheet" href="./Login.css" />-->
    <link rel="stylesheet" th:href="@{/css/Login.css}">
</head>

<body>
    <div class="main-box">
        <div class="inner">
            <div class="textbox">
                <div class="text-inner">
                    <div class="welcomText">Spring Site Studio ECC COMP</div>
                    <div class="name-text">
                        <p>with</p>
                        SK2A IE2A
                    </div>
                    <div class="main-text">Welcome to Spring</div>
                    <div class="bottom-text">
                        Check the safety of each department right now
                    </div>
                    <div class="login-text">Please log in for use</div>
                </div>
            </div>
            <form action="/login" th:action="@{/}" th:object="${user}" method="post">
                <div class="login-box">
                    <div class="login-inner">
                        <div class="login-header">
                            <img src="./images/logo.png" alt="" style="width: 50px; height: 50px" />
                            Spring
                        </div>
                        <div class="hidden-box" th:if="${#fields.hasGlobalErrors()}">
                            <p class="global-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                グローバルエラーメッセージ</p>
                        </div>
                        <div class="login-middle">
                            <div class="ID-box">
                                <p>ID</p>
                                <input type="text" th:field="*{id}" placeholder="ID" pattern="\d+"
                                    oninvalid="this.setCustomValidity('数字のみ入力可能です')"
                                    oninput="this.setCustomValidity('')" required>
                            </div>
                            <div class="PASSWORD-box">
                                <p>Password</p>
                                <input type="password" th:field="*{pwd}" placeholder="PASSWORD">
                            </div>
                        </div>
                        <div class="login-button">
                            <button>ログイン</button>
                            <!--                    <input type="submit" value="ログイン">-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <footer></footer> -->
    <script src="./Login.js"></script>
</body>

</html>