<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <style>
        body {
            text-align: center;
            font-size: 15px;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(39, 39, 39);
        }

        th {
            width: 200px;
            font-size: 20px;
        }

        tr {
            height: 50px;
        }
    </style>
</head>

<body>
    <h1>安否表</h1>

    <table>
        <thead>
            <tr>
                <th>部署名</th>
                <th>安否登録済み数</th>
                <th>総社員数</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="merged : ${mergedList}">
                <td th:text="${merged.departmentName}"></td>
                <td th:text="${merged.safetyCheckCount}"></td>
                <td th:text="${merged.allEmpsCount}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>