<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet" />
<!-- 上は재난최근정보글꼴 -->

<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap" rel="stylesheet" />
<!-- 지금등록 글씨 -->
<link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet" />
<!-- 로그아웃글씨 -->
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet" />
<!--    <link rel="stylesheet" href="style.css" />-->

<link rel="stylesheet" type="text/css" href="../css/userRegisterForm.css">

<head>
    <meta charset="UTF-8">
    <title>userRegister</title>
</head>

<body>
    <header>
        <div class="inner">
            <div class="box">
                <div th:if="${empName == 'admin'}">
                    <button style="
                        border-radius: 20px;
                        background-color: whitesmoke;
                    ">
                        <a th:href="@{/userRegister}" style="
                            text-decoration: none;
                            color: #314178;
                            font-size: 17px;
                            font-weight: bold;
                        ">ユーザー登録
                        </a>
                    </button>
                </div>
                <div style="width: 300px"></div>
                <div class="logo">Spring</div>
                <!-- <div class="header-button"><button>安否登録</button></div> -->
                <div class="log-out">
                    <div>
                        <button class="now-btn">
                            今すぐ<span style="color: red">安否登録</span>
                        </button>
                    </div>
                    <!--                <div class="logout-text">昇さん、ようこそ</div> &lt;!&ndash; 고쳐야될곳 &ndash;&gt;-->
                    <div class="logout-text"><span th:text="${empName}" />さん<br>ようこそ</div>

                    <button class="logout-text logout-button">ログアウト</button>
                    <!--                <div class="logout-text">-->
                    <!--                    <button class="logout-button">ログアウト</button>-->
                    <!--                </div>-->
                </div>
            </div>
        </div>
    </header>


    <div class="userRegisterForm">
        <div class="form-inner">
            <!-- <img src="/images/logo.png" alt="logo img" class="logoImg" /> -->
            <form method="post" th:action="@{/userRegister}" onsubmit="return submitForm();">
                <h1>ユーザー登録フォーム</h1>

                <div class="userSection">
                    <label for="department-id">　部署番号</label>
                    <input type="text" id="department-id" name="departmentId"><br>
                </div>

                <div class="userSection">
                    <label for="user-id">　社員番号</label>
                    <input type="text" id="user-id" name="id"><br>
                </div>

                <div class="userSection">
                    <label for="user-name">　　　名前</label>
                    <input type="text" id="user-name" name="name"><br>
                </div>

                <div class="userSection">
                    <label for="password">パスワード</label>
                    <input type="password" id="password" name="pwd"><br>
                </div>

                <div class="userSection">
                    <label for="phone">　携帯番号</label>
                    <input type="tel" id="phone" name="cellphone"><br>
                </div>

                <button type="submit" style="width: 60px; height: 40px">登録</button>
            </form>
        </div>
    </div>

    <footer>
        <small>&copy Spring 2023</small>
    </footer>


    <script>
        function submitForm() {
            alert("ユーザー登録を完了しました！");
            return true;
        }
    </script>
</body>

</html>
</body>

</html>